<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebPartPagesWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/_vti_bin/webpartpages.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebPartPagesWebServiceSoap"
                contract="SharepointServiceReference.WebPartPagesWebServiceSoap"
                name="WebPartPagesWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>