<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ListsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<!--for my local sharepoint installation, the follwing security settings are valid-->
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="UserGroupSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
		  receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
		  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
		  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
		  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
		  useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Ntlm" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="ListsSoap12">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
						messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
							maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
						maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
						bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
						realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
						useDefaultWebProxy="true" />
				</binding>
				<binding name="UserGroupSoap12">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/_vti_bin/lists.asmx" binding="basicHttpBinding"
				bindingConfiguration="ListsSoap" contract="ListsSoap" name="ListsSoap" />
			<endpoint address="http://localhost/_vti_bin/lists.asmx" binding="customBinding"
				bindingConfiguration="ListsSoap12" contract="ListsSoap" name="ListsSoap12" />
            <endpoint address="http://localhost/_vti_bin/UserGroup.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserGroupSoap"
                contract="UserGroupSoap" name="UserGroupSoap" />
            <endpoint address="http://localhost/_vti_bin/UserGroup.asmx"
                binding="customBinding" bindingConfiguration="UserGroupSoap12"
                contract="UserGroupSoap" name="UserGroupSoap12" />		
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="PromoveoAddin.Properties.Settings.PromoveoDBConnectionString"
		  connectionString="Data Source=zenon5000\sqlexpress;Initial Catalog=PromoveoDB;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>