<configuration>
	<system.web>
		<customErrors mode="Off"/>	
	</system.web>
	<connectionStrings>
		<add name="PromoveoDBConnectionString" connectionString="Data Source=sql3.mcis.agrinet.local\sqlexpress;Initial Catalog=db181032;Integrated Security=True;"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="ConfigurationService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IConfiguration"></endpoint>
			</service>
			<service name="ModelUserRolesService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IModelUserRoles"></endpoint>
			</service>
			<service name="ProcessModelService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IProcessModel"></endpoint>
			</service>
			<service name="PublishingPlatformRolesService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IPublishingPlatformRoles"></endpoint>
			</service>
			<service name="RoleModelService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IRoleModel"></endpoint>
			</service>
			<service name="UserRoleService">
				<endpoint address="" binding="basicHttpBinding" contract="PromoveoServiceLibrary.ServiceDefinitions.IUserRole"></endpoint>
			</service>			
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>